<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mss.mobilesalessystem">

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <uses-permission android:name="android.permission.CAMERA" />

        <activity
            android:name=".MainMenu"
            android:label="Mobile Sales System"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>

</manifest>
